<form method="post">
    <label for="email">Email:</label>
    <input type="text" id="email" name="email" required>
    <br><br>
    <label for="password">Password:</label>
    <input type="text" name="password" id="password" required>
    <br><br>
    {{#if message}}
        <p class="error">{{message}}</p>
        <br>
    {{/if}}
    <button type="submit">Login</button>
</form>