<form method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required>
    <br><br>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>
    <br><br>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required>
    <br><br>
    {{#if message}}
        <p class="error">{{message}}</p>
        <br>
    {{/if}}
    <button type="submit">Register</button>
    <br><br>
    <p>Existing user? <a href="/login">Login here</a>.</p>
</form>