* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --light-green: rgb(218, 253, 218);
}

body {
    padding: 20px;
    font-family: sans-serif;
}

button, .button {
    padding: 5px 40px;
    font-weight: 600;
    background-color: rgb(218, 253, 218);
    color: black;
    text-decoration: none;
    box-shadow: none;
    outline: none;
    border: 2px solid green;
    border-radius: 5px;
}


.error {
    color: rgb(255, 90, 90);
    font-weight: bold;
}

.success {
    color: rgb(44, 167, 44);
    font-weight: bold;
}